#define RT_MANIFEST 24
1 RT_MANIFEST "backend.manifest"

1 VERSIONINFO
FILEVERSION     1,0,0
PRODUCTVERSION  1,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4" // English US, Windows Multilingual
    BEGIN
      VALUE "CompanyName", "iNKraft"
      VALUE "FileDescription", "Project Isekai Daemon"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "isekai_daemon"
      VALUE "LegalCopyright", "(c) 2026 Jeff Retz. All rights reserved."
      VALUE "OriginalFilename", "isekai-daemon.exe"
      VALUE "ProductName", "Project Isekai"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END